<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DevGenius</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/144660881?v=4">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="style.css">
    </head>

<body>

    <div class="cursor"></div>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="https://avatars.githubusercontent.com/u/144660881?v=4" alt="Logo" />
            <h1>DevGenius</h1>
        </div>
        <button class="theme-toggle" aria-label="Toggle dark mode">🌓</button>
    </nav>


    <div class="container">
        <section class="intro fade-up">
            <h2>Welcome to My Hub!</h2>
            <p>Discover all my important links in one place. From social media to projects, everything you need about me
                is right
                here.</p>
        </section>

        <main class="categories">
            <div class="category">
                <h2 class="category-title">
                    <i class="fas fa-hashtag category-icon"></i>
                    Social Media
                </h2>
                <ul class="links-list">
                    <li class="link-item">
                        <a target="_blank" href="https://x.com/Samir_Germany1" class="link">
                            <i class="fab fa-twitter link-icon"></i>
                            Twitter
                        </a>
                    </li>
                    <li class="link-item">
                        <a target="_blank" href="https://www.instagram.com/samir_devgenius/" class="link">
                            <i class="fab fa-instagram link-icon"></i>
                            Instagram
                        </a>

                    </li>
                    <li class="link-item">
                        <a target="_blank" href="https://web.facebook.com/profile.php?id=100022274520025" class="link">
                            <i class="fab fa-facebook link-icon"></i>
                            facebook
                        </a>
                    </li>

                    <li class="link-item">
                        <a target="_blank" href=" https://wa.me/212718087106" class="link">
                            <i class="fab fa-whatsapp link-icon"></i>
                            whatsapp
                        </a>
                    </li>
                    <li class="link-item">
                        <a target="_blank" href="https://www.linkedin.com/in/samir-aoulad-amar-a238a9334/" class="link">
                            <i class="fab fa-linkedin link-icon"></i>
                            LinkedIn
                        </a>
                    </li>
                </ul>
            </div>

            <div class="category">
                <h2 class="category-title">
                    <i class="fas fa-code category-icon"></i>
                    Projects
                </h2>
                <ul class="links-list">
                    <li class="link-item">
                        <a target="_blank" href="https://github.com/samir20-23/devgenius-attack_app" class="link">
                            <i class="fab fa-github link-icon"></i>
                            GitHub_attacka
                        </a>
                    </li>

                    <li class="link-item">       
                        <a target="_blank" href="https://samir20-23.github.io/DevHost/DevType_/resources/views/Home/home.html"
                            class="link">
                            <i class="fas fa-gamepad link-icon"></i>
                            Game DevType
                        </a>
                    </li>
                    <li class="link-item">
                        <a target="_blank" href="https://samir20-23.github.io/DevHost/Devchrono/resources/views/devChrono.html"
                            class="link">
                            <i class="fas fa-clock  link-icon"></i>
                            App devChrono
                        </a>
                    </li>
                    <li class="link-item">
                        <a target="_blank" href="https://samir20-23.github.io/DevHost/Note_English/resources/views/Main.html"
                            class="link">
                            <i class="fas fa-mobile-alt link-icon"></i>
                            Word Flow Translate
                        </a>
                    </li>
                    <li class="link-item">
                        <a target="_blank" href="https://github.com/samir20-23" class="link">
                            <i class="fab fa-github link-icon"></i>
                            GitHub
                        </a>
                    </li> 
                    <li class="link-item">
                        <a target="_blank" href="https://github.com/samir20-23?tab=repositories" class="link">
                            <i class="fas fa-file-code link-icon"></i>
                            Latest Work
                        </a>
                    </li>
                </ul>
            </div>

            <div class="category">
                <h2 class="category-title">
                    <i class="fas fa-book category-icon"></i>
                    Content
                </h2>
                <li class="link-item">
                    <a target="_blank" href="https://samiraouladamar-portfolio.vercel.app/" class="link">
                        <i class="fas fa-briefcase link-icon"></i>
                        Portfolio
                    </a>
                </li>

                <ul class="links-list">
                    <li class="link-item">
                        <a target="_blank" href="https://samir20-23.github.io/DevHost/DevStore/DevStore/index.html"
                            class="link">
                            <i class="fas fa-store link-icon"></i>
                            Store
                        </a>
                    </li>
                    <li class="link-item">
                        <a target="_blank" href="https://github.com/samir20-23/samir20-23" class="link">
                            <i class="fab fa-youtube link-icon"></i>
                            YouTube
                        </a>
                    </li>
                    <li class="link-item">
                        <a target="_blank" href="https://github.com/samir20-23/samir20-23" class="link">
                            <i class="fas fa-pen-fancy link-icon"></i>
                            Blog
                        </a>
                    </li>
                    <li class="link-item">
                        <a target="_blank" href="https://github.com/samir20-23/samir20-23" class="link">
                            <i class="fas fa-graduation-cap link-icon"></i>
                            Tutorials
                        </a>
                    </li>

                </ul>
            </div>
        </main>
    </div>

    <footer class="footer">
        <div class="social-links">
            <a target="_blank" href="https://github.com/samir20-23" class="social-icon"><i
                    class="fab fa-github"></i></a>
            <a target="_blank" href="https://x.com/Samir_Germany1" class="social-icon"><i
                    class="fab fa-twitter"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/samir-aoulad-amar-a238a9334/" class="social-icon"><i
                    class="fab fa-linkedin"></i></a>
            <a target="_blank" href="https://www.instagram.com/samir_devgenius/" class="social-icon"><i
                    class="fab fa-instagram"></i></a>
        </div>
        <p>© 2024 My Links Hub. All rights reserved.</p>
    </footer>

    <script src="script.js"></script>

</body>

</html>